# Flutter/Dart/Pub
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/
**/doc/api/
**/ios/Flutter/.last_build_id
app.*.symbols
app.*.map.json

# Secrets & Keys (Industry Standard)
.env
.env.*
*.jks
*.keystore
key.properties
google-services.json
GoogleService-Info.plist

# IDEs & Editors
.idea/
.vscode/
*.iml
*.ipr
*.iws
.atom/
.history/

# OS / Miscellaneous
.DS_Store
*.class
*.log
*.pyc
*.swp
.build/
.buildlog/
.svn/
.swiftpm/
migrate_working_dir/

# Android Build
/android/app/debug
/android/app/profile
/android/app/release
